<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Global TPA Risk</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        @if (User.Identity.IsAuthenticated)
        {
            TPA.SISEVE.Dominio.Entidad.Usuario Usuario;

            if (HttpContext.Current.Session["User"] != null)
            {
                Usuario = (TPA.SISEVE.Dominio.Entidad.Usuario)HttpContext.Current.Session["User"];
            }
            else
            {
                Usuario = new TPA.SISEVE.Dominio.Entidad.Usuario();
            }
            
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-university"></i> Aseguradoras <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.RouteUrl("Aseguradora", new { action = "Register" })">Registrar Aseguradora</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl("Aseguradora", new { action = "Search" })">Consultar Aseguradora</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-car"></i> Productos <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.RouteUrl("Producto", new { action = "Register" })">Registrar Producto</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl("Producto", new { action = "Search" })">Consultar Producto</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-newspaper-o"></i> Planes <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.RouteUrl("Plan", new { action = "Register" })">Registrar Plan</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cube"></i> Coberturas <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.RouteUrl("Cobertura", new { action = "Register" })">Registrar Cobertura</a>
                        </li>
                        <li>
                            <a href="@Url.RouteUrl("Cobertura", new { action = "Search" })">Consultar Cobertura</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-frown-o"></i> Impuestos <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.RouteUrl("Impuesto", new { action = "Register" })">Registrar Impuesto</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calculator"></i> Cotizaciones <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.RouteUrl("Cotizacion", new { action = "Register" })">Registrar Cotización</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @Usuario.Nombre <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="@Url.RouteUrl("Account", new { action = "Logout" })"><i class="fa fa-sign-out"></i> Cerrar Sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
        }
        else
        {
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="@Url.RouteUrl("Account", new { action = "Login" })"><i class="fa fa-sign-in"></i> Iniciar Sesión</a>
                </li>
            </ul>
        }
    </div>
  </div>
</nav>